

.copyright {
  text-align: center;
}


footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  width: 100%;
  float: left;
  display: block;

    a {
    color: #fff;
    text-decoration: none;
  }
  
}