.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

/* =============================================================================
                   Navigation
   ========================================================================== */
  ul.menu {
    margin:15px 0 0 0;
    padding:0;
  }
    ul.menu li {
      display:inline;
      margin-right: 10px;
    }

      ul.menu li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $titleFont;
        font-size: 0.85em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: normal;
        line-height: 2em;
    }

    
		
		ul.menu li a:hover {
			border-bottom: 2px solid #f1abab;
		}
	


.wrapper {
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	flex-direction: row;
 	align-content: flex-end;
 	align-items: center;
 	margin: 0 auto;
 	

}

.navFull {
	width: 100%;
  display: block;
  float: left;
}

 .navLeft {
    width: 30%;
    float: left;
    text-align: center;

}

.navLeft h1 a {
	color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 4rem;
  letter-spacing: 1px;
  font-weight: 900;
  margin: 0;


}


.navRight {
	float: left;
	display: block;
	width: 70%;
	text-align: right;
  color:white;
}

.navRight a {
  color:a;
}



.overlay h1 { 
	color:red;
}



.companyInfo {
	margin:0 auto;
	width: 80%;

	h2 {
	text-transform:none;
	color:lightGrey;
	}
}


