.wrapper {
  width: 100%;
}

.bgHeader {
  background: url(img/star_sky_at_night.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:1px;
  height: 100vh;
}

.group {
  margin: 0 auto;
  padding-top: 100px;
}

.group h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 900;
}

.group h2 {
  color: grey;
  text-align: center;
  text-transform: uppercase;
  font-family:$titleFont;
  font-size: 1.5em;
  
}

.group h3 {
  color: #494949;
  font-weight: 700;
  line-height: .7em;
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFont;
  padding:5px 0;
  font-size: 1.6em;
  position: relative;
}

.contentNav {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  border-top:1px red solid;
  border-bottom: 1px red solid;
}

.contentNav ul {
  padding: 10px 0;
  margin: 0;
}

.contentNav ul li {
  color: white;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 8px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 700;
  padding: 5px; 
}

.contentNav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 0; 
}

.logo { 
  display: block;
  box-sizing:border-box;
  position: relative;
  top: -50px;
  left: 55%;
  width: 150px;
}

.slash {
  color: white;
  padding: 8px;
}

.line {
  border-bottom: 2px solid red;
  width: 20%;
  margin:0 auto;
}


hr.redhr {
  border: 0;
    height: 1px;
    background-color: red;
    width: 24%;
}

hr.redhr.longer {
  width: 10%;
}


p {
  font-size: 1em;
}
  

.arrow a {
  font-size: 5em;
  color: white;
  display: block;
  margin-left: 38%;
}

.arrow a:visited {
  color: white;
}

.arrow a:hover, .nav a:hover {
  color: #ed5c5c;
}
/////////////////////////////////////
// About me
//////////////////////////////////////


.about {
  width: 100%;
  background-color: white;
  font-size: 1.2em;
  text-align: center;
  margin-top: 0;
  padding:5% 0;
  float: left;
  display: block;
}

.about p {
  color: grey;
  line-height: 2.5rem;
}

.smallBody {
  width: 80%;
  margin:0 auto;
}

.threeHalf {
  float:left;
  display: block;
  width: 30%;
  padding-top: 2.5%;
}

.threeHalf img {
  -webkit-clip-path: polygon(100% 0, 100% 88%, 19% 100%, 0 8%);
  clip-path: polygon(100% 0, 100% 88%, 19% 100%, 0 8%);
}

.sevenHalf {
  width: 70%;
  float: left;
  display: block;
  text-align: left;
  padding:2.5%;
}



/////////////////////////////////////
//////////////////////////////////////
// Recent Work

.recentWork {
  margin: 2% auto 0;
  background-color:lightGrey;
  padding: 5% 0;
  float:left;
  display: block;
  text-align: center;
}


.oneThird {
  float: left;
  width: 30%;
  box-sizing:border-box;
  color: white;
  margin-left: 2.5%
}

 a {
  text-decoration: none;
}

.oneThird:hover {
  background-color: red;
  color:green;
}

.projectImg {
  position:relative;
}

.projectImg img {
  width: 100%;
  display: block;
  border-radius: 5px 5px 0 0;

}

.seeLive {
  position: absolute;
  top:5%;
  left: 5%;
  background-color: black;
  width: 90%;
  height: 90%;
  opacity: 0;
  text-align: center;
  border-radius: 5px;
}

.seeLive:hover {
  opacity: 1;
}



.projectDes {
  padding: 5%;  
  background-color: black;
  border-radius: 0 0 5px 5px;

}

.projectDes h3 {
      font-size: 1.2rem;
      color: white;
      padding: 0;
      font-weight: 700;
      line-height: .7em;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      margin-top: 2%;
}


.projectDes p {
  color: lightGrey;
  font-size: .8rem;
  line-height: 1.6rem;
}

.linePortfolio {
  width: 10%;
  margin: 0 auto 2%;
  border-bottom: 2px solid red;
  width: 20%;
  height: 1px;
  background-color: red;
}


// .onethird:last-child {
//   margin-right: 0;
// }

.onethird.topspace {
  // margin-top:2.5%;
}


.description img {
  width: 100%;
}

.description:hover {
  background-color: #424242;
}


.social .iconcolor {
  color: white;
  font-size: 3em;
  margin: 0 2.5%
}

.iconcolor:hover, .hovercolor:hover {
  color: #ed5c5c;
}

.social {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

/////////////////////////////////////
//////////////////////////////////////
// Contact Form

.contactForm {
  background-color: darkGrey;
  text-align: center;
  padding-top: 20px;
  color: #7a7a7a;
  float: left;
  width: 100%;
  display: block;
}

.contactForm h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}


.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
  height: auto;
  margin: 40;
}


.footer a {
  color: #fff;
  text-decoration: none;
}

input[type="submit"] {
  padding: 10px 10px;
  color: white;
  background-color: #ed5c5c;
  width: 30%;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.submit:hover {
  background-color: red;
}


form {
  width:100%;
  margin: 0 auto;
}

textarea, .email, .name {
  width: 60%;
    height: 20vh;
    background-color: #c1c1c1;
   border: none;
   border-radius:5px;
   padding: 15px;
   color: #fff;
}

.name, .email {
  height: 7vh;
  margin-bottom: 20px;
}
