
h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 900;
}

h2 {
  color: grey;
  text-align: center;
  text-transform: uppercase;
  font-family:$titleFont;
  
}

h3 {
  color: #494949;
  font-weight: 700;
  line-height: .7em;
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFont;
  padding:5px 0;
  font-size: 1.6em;
  position: relative;
}