$bodyFont: "Courier New","Courier","monospace";
$titleFont: "Courier New","Courier","monospace";
$navFont:"Courier New","Courier","monospace";
$brandColour: #604348;
$primaryLink: #e7acae;


$textColour:black;